[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gunicorn = "*"
imutils = "*"
itsdangerous = "*"
numpy = "*"
opencv-contrib-python = "*8"
opencv-python = "*"
pandas = "*"
pyodbc = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
"zope.interface" = "*"
DateTime = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[dev-packages]
